sudo: required
services:
      - docker
before_install:
      -  docker build -t hbhatia7/docker-react -f Dockerfile.dev .

script :
      - docker run hbhatia7/docker-react npm run test -- --coverage

deploy:
    provider: elasticbeanstalk
    region: "us-west-2"
    app: "react-docker2"
    env: "ReactDocker2-env"
    bucket_name: "elasticbeanstalk-us-west-2-420608623538"
    bucket_path: "react-docker2"
    on:
      branch: master
      access_key_id: "$AWS_ACCESS_KEY"
      secret_access_key:
        secure: "$AWS_SECRET_KEY"
